[MASTER]
init-hook='import sys; sys.path.append("/workspace")'
ignored-modules=brownie

disable=
    C0114, # missing-moudle-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0209, # consider-using-f-string